 {% extends 'base.html' %} 
  {% block title %}{% endblock title %}
  {% block body %}
  <table class="table table-dark table-striped-columns table-hover">
    <thead>
        <tr>

          <th scope="col">Author</th>
          <th scope="col">Desc</th>
          <th scope="col">Date Created</th>
          <th scope="col">Completion Date</th>
          <th scope="col">Completion Status</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        {% for lis in listsall %}
     
<tr>
    <th>{{ lis.authname}}</th>
    <th>{{ lis.desc}}</th>
    <th>{{ lis.creatdate }}</th>
    <th>{{ lis.compdate}}</th>
    <th>{{ lis.compstatus}}</th>
    <th><a href="{% url 'update' lis.id %}">Update</a>      <a href="{% url 'delete_post' lis.id %}"> Delete</a></button></th>
</tr>

{% endfor %}

        
</table>



  {% endblock body %}